<div class="container">
  <div class="row">
    <h2><span class="bold">MINNESOTA</span><span class="thin">NEWS</span></h2>
    <div class="col-md-13" id="articles">
      <div class="card-columns">
        {{>articles/articles-block}}
      </div>
    </div>
    <div id="notes"></div>
  </div>
</div>