* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 50px;
    margin: 25px 0px 25px 0px;
}
.card-title {
    font-size: 25px;
}
.bold {
    font-weight: 700;
}
.regular {
    font-weight: 400;
}
.thin {
    font-weight: 100;
}
#articles {
    margin-top: 25px;
}
#cardNote {
    top: 25px;
    margin-bottom: 50px;
}
#notes {
    width: 80%;
    padding: 55px;
    
}
#noteSection {
    text-decoration: underline;
}
.input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* #deleteNote {
    margin-top: 25px;
} */
/* Sidepanel */
.sidepanel {
    height: 0; /* Specify a height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f2f2f2ef; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 60px; Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1000;
}
/*End Sidepanel */
@media screen and (max-width: 900px) {
    h2 {
        font-size: 35px;
    }
}